@import url("https://use.typekit.net/zdv0evm.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Roboto:wght@300&display=swap');

:root {
    --primary: #FFFF29;
    --white: #ffffff;
    --black: #000000;
    --grey: #dadada;
    --transition: all .25s ease-in-out;

    --h1-size: 34px;
    --h2-size: 22px;
    --h3-size: 18px;
    --p-size: 14px;
    --header-a-size: 14px;
    --subheadline-size: 12px;
    --form-input-size: 12px;
    --line-height: 1.6;
}

body {
    background-color: #EAEAEA!important;
}

* {
    font-family: "termina", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2!important;
}

h1,
h2,
h3 {
    color: var(--black)!important;
    font-weight: 700!important;
    text-transform: uppercase!important;
    line-height: var(--line-height)!important;
    margin: 20px 0 0 0!important;
}

h1 {
    font-size: var(--h1-size)!important;
}

h2 {
    font-size: var(--h2-size)!important;
}

h3 {
    font-size: var(--h3-size)!important;
    text-transform: none!important;
}

.row-fluid .hs_cos_wrapper_type_rich_text>:last-child {
    margin-bottom: 40px!important;
}

p {
    font-size: var(--p-size)!important;
}

.about-sub {
    width: 80%;
    margin: 40px auto 0;
}

.subheadline {
    color: var(--black);
    font-weight: 400;
    font-size: var(--subheadline-size)!important;
    text-transform: uppercase;
    margin: 20px 0;
    width: 60%;
}

/* ROBOTO */
p,
.copyright-section .hs-menu-wrapper ul li a,
.header .hs-menu-wrapper ul li a,
.hs-button.primary.large {
    font-family: "Roboto", sans-serif!important;
}


/* TERMINA */
h1,
h2,
h3,
.subheadline {
    font-family: "termina", sans-serif!important;
}


.copyright-section .hs-menu-wrapper ul li a,
.header .hs-menu-wrapper ul li.hs-menu-item.active-branch > a,
.header .hs-menu-wrapper ul li a:hover {
    font-family: "Roboto", sans-serif!important;
    color: var(--black)!important;
}

.span12.columns.d-flex.flex-flow-column.flex-flow-md-row-wrap.align-items-md-center.fh {
    justify-content: flex-end!important;
}

.header,
.footer-section,
.copyright-section {
    background-color: #EAEAEA!important;
    border: none!important;
}

.hs-button,
.hs-button.primary.large,
.hs-button.primary  {
    font-family: "Termina", sans-serif!important;
    text-transform: uppercase!important;
    text-decoration: none!important;
    padding: 0!important;
    background-color: transparent!important;
    border: none!important;
    border-radius: 0!important;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button-wrapper .hs-button.btn {
    color: var(--black)!important;
    font-size: var(--subheadline-size)!important;
    width: fit-content!important;
    font-family: "termina", sans-serif!important;
}

.hs-button.btn:hover {
    cursor: pointer!important;
}

.hs-button:hover {
    background-color: var(--primary);
}

.btn.ghost-btn {
    color: var(--black);
    background-color: transparent;
    border: 1px solid var(--black);
    transition: var(--transition);
}

.btn.ghost-btn:hover {
    color: var(--white);
    background-color: var(--black);
    transition: var(--transition);
}

.wrapper {
    display: flex;
    gap: 20px;
    align-content: flex-start;
    justify-content: center;
    width: 100%;
}

.card {
    flex: 1 0;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header .hs-menu-wrapper ul li a {
    font-size: var(--header-a-size)!important;
}

.header .hs-menu-wrapper ul li.hs-menu-item-branch > a {
    color: #959595;
}

.header .hs-menu-wrapper ul li.hs-menu-item.active-branch > a::after {
    display: none!important;
}

.dnd-section .dnd-column>.dnd-row:not(:first-child) {
    margin-top: 0!important;
}

form .hs-error-msg {
    font-size: 12px!important;
}

.hs_cos_wrapper_type_rich_text>:last-child {
    margin-bottom: 20px!important;
}

form {
    display: flex!important;
    flex-direction: column!important;
    width: 70%!important;
}

#hs_form_target_widget_1678383140992 form {
    margin: 0 auto!important;
    width: 100%!important;
}

#hs_form_target_widget_1678383140992 form .hs-form-field:nth-child(odd) {
    padding-left: 0!important;
}

#hs_form_target_widget_1678383140992 form .hs-form-field:nth-child(event) {
    padding-right: 0!important;
}

#hs_form_target_widget_1678383140992 form .hs-submit {
    padding-left: 0!important;
}

form .hs-form-field {
    margin-bottom: 0!important;
}

.button, .medium, .system-page form a#hs_login_reset, body, button, form .hs-button, form input[type=email], form input[type=file], form input[type=number], form input[type=password], form input[type=tel], form input[type=text], form label, form select, form textarea {
    font-family: "Roboto", sans-serif!important;
}

form input[type=email], form input[type=file], form input[type=number], form input[type=password], form input[type=tel], form input[type=text], form select, form textarea {
    border-radius: 0!important;
    border: none!important;
}

form input *,
form input *::placeholder,
form input::placeholder,
form textarea::placeholder,
form input:-ms-input-placeholder {
    font-family: "Roboto", sans-serif!important;
}

.input *,
.input *::placeholder,
form input[type=text],
form input[type=text]::placeholder,
form textarea::placeholder {
    font-size: var(--form-input-size)!important;
    color: var(--black)!important;
}

form input::placeholder,
form textarea::placeholder,
form input:-ms-input-placeholder {
    color: var(--black)!important;
    opacity: 1;
}

.hs-button {
    font-family: "termina", sans-serif!important;
    background-color: transparent;
    color: var(--black)!important;
    font-size: var(--form-input-size)!important;
    border: none;
    padding: 0;
    border-radius: 0;
}

.hs-button.primary.large:hover {
    background-color: var(--primary)!important;
    border: none;
}

.header,
.copyright-section {
    position: relative;
}

.copyright-section .hs-menu-wrapper ul {
    align-items: center!important;
}

.dnd-section .row-fluid [class*=span] {
    padding-right: 0!important;
}

.footer-menu__container.dnd-section ul {
    display: flex;
    gap: 60px;
}