@import url("https://use.typekit.net/zdv0evm.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Roboto:wght@300&display=swap');

:root {
    --primary: #FFFF29;
    --white: #ffffff;
    --black: #000000;
    --grey: #dadada;
    --transition: all .25s ease-in-out;

    --h1-size: 40px;
    --h2-size: 26px;
    --h3-size: 20px;
    --p-size: 14px;
    --header-a-size: 14px;
    --subheadline-size: 16px;
    --form-input-size: 14px;
    --line-height: 1.4;
}

body {
    background-color: #EAEAEA!important;
}

* {
    font-family: "termina", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3 {
    color: var(--black)!important;
    font-family: "termina", sans-serif!important;
    font-weight: 700!important;
    text-transform: uppercase!important;
    line-height: var(--line-height)!important;
    margin: 20px 0 0 0!important;
}

h1 {
    font-size: var(--h1-size)!important;
}

h2 {
    font-size: var(--h2-size)!important;
}

h3 {
    font-size: var(--h3-size)!important;
}

p {
    font-family: "Roboto", sans-serif!important;
    font-size: var(--p-size)!important;
}

.subheadline {
    font-family: "termina", sans-serif!important;
    font-weight: 400;
    font-size: var(--subheadline-size)!important;
    text-transform: uppercase;
    color: var(--black);
}

.header,
.footer-section,
.copyright-section {
    background-color: #EAEAEA!important;
    border: none!important;
}

.copyright-section {
    background-color: #EAEAEA!important;
    border: none!important;
}

.copyright-section .hs-menu-wrapper ul li a {
    font-family: "Roboto", sans-serif!important;
    color: var(--black)!important;
}

.span12.columns.d-flex.flex-flow-column.flex-flow-md-row-wrap.align-items-md-center.fh {
    justify-content: flex-end!important;
}

.hs-button  {
    text-transform: uppercase;
    padding: 0;
    display: 0;
}

.hs-button:hover {
    background-color: var(--primary);
}

.btn.ghost-btn {
    color: var(--black);
    background-color: transparent;
    border: 1px solid var(--black);
    transition: var(--transition);
}

.btn.ghost-btn:hover {
    color: var(--white);
    background-color: var(--black);
    transition: var(--transition);
}

.wrapper {
    display: flex;
    gap: 20px;
    align-content: flex-start;
    justify-content: center;
    width: 100%;
}

.card {
    flex: 1 0;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header .hs-menu-wrapper ul li a {
    font-family: "Roboto", sans-serif!important;
    font-size: var(--header-a-size)!important;
}

.header .hs-menu-wrapper ul li.hs-menu-item-branch > a {
    color: #959595;
}

.header .hs-menu-wrapper ul li.hs-menu-item.active-branch > a,
.header .hs-menu-wrapper ul li a:hover {
    font-family: "Roboto", sans-serif!important;
    color: var(--black)!important;
}

.header .hs-menu-wrapper ul li.hs-menu-item.active-branch > a::after {
    display: none!important;
}

form input[type=text] {
    font-size: var(--form-input-size)!important;
}

.input *,
.input *::placeholder {
    font-family: "Roboto", sans-serif!important;
    font-size: var(--form-input-size)!important;
}

.input input::placeholder,
.input textarea::placeholder {
    font-family: "Roboto", sans-serif!important;
    color: var(--black);
    opacity: 1;
}
  
.input input:-ms-input-placeholder {
    font-family: "Roboto", sans-serif;
    color: var(--black);
}
  
.input input::-ms-input-placeholder {
    font-family: "Roboto", sans-serif;
    color: var(--black);
}

.hs-button.primary.large {
    font-family: "Roboto", sans-serif!important;
    background-color: transparent;
    color: var(--black);
    font-size: var(--form-input-size)!important;
    border: none;
    padding: 0;
    border-radius: 0;
}

.hs-button.primary.large:hover {
    background-color: var(--primary)!important;
    border: none;
}

.header,
.copyright-section {
    position: relative;
}

.header::after,
.copyright-section::after {
    content: '';
    background-color: var(--primary);
    width: 40px;
    height: 3px;
    outline: none;
    position: absolute;
    right: 40px;
    bottom: 40px;
    border: none;
    border-style: unset;
}