.section {
    display: flex;
    width: 100%;
}

.section .row {
    display: flex;
    gap: 60px;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.section .row .col {
    flex: 1 0;
}

.section .row .col:nth-child(1) {
    flex: 1 0 25%;
}

.section .row .col:nth-child(2) {
    flex: 1 0 70%;
}

img {
    width: 100%;
}