.contact-form-wrapper .input *,
.contact-form-wrapper .input *::placeholder,
.contact-form-wrapper input[type=text],
.contact-form-wrapper input[type=text]::placeholder,
.contact-form-wrapper textarea::placeholder {
    font-size: var(--form-input-size)!important;
    color: var(--black)!important;
    font-family: "Roboto", sans-serif!important;
}

.contact-form-wrapper .hs-button,
.hs-button {
    font-family: "termina", sans-serif!important;
    background-color: transparent;
    color: var(--black)!important;
    font-size: var(--form-input-size)!important;
    border: none;
    padding: 0;
    border-radius: 0;
}

.contact-form-wrapper .hs-button.primary.large:hover,
.hs-button.primary.large:hover {
    background-color: var(--primary)!important;
    border: none;
}