/* Import fonts */
@import url("https://use.typekit.net/zdv0evm.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Define custom variables */
:root {
    --primary: #FFFF29;
    --white: #ffffff;
    --black: #000000;
    --grey: #dadada;
    --transition: all .25s ease-in-out;

    /* Font sizes */
    --h1-size: 34px;
    --h2-size: 22px;
    --h3-size: 18px;
    --p-size: 14px;
    --header-a-size: 14px;
    --subheadline-size: 12px;
    --form-input-size: 12px;
    --line-height: 1.6;
}

/* Body styles */
body {
    background-color: #EAEAEA !important;
}

/* Global font styles */
* {
    font-family: "termina", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2 !important;
}

/* Heading styles */
h1,
h2,
h3 {
    color: var(--black) !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    line-height: var(--line-height) !important;
    margin: 20px 0 0 0 !important;
}

/* Individual heading styles */
h1 {
    font-size: var(--h1-size) !important;
}

h2 {
    font-size: var(--h2-size) !important;
}

h3 {
    font-size: var(--h3-size) !important;
    text-transform: none !important;
}

/* Additional styles */
.row-fluid .hs_cos_wrapper_type_rich_text>:last-child {
    margin-bottom: 40px !important;
}

/* Paragraph styles */
p {
    font-family: 'Roboto', sans-serif !important;
    font-size: var(--p-size) !important;
    font-weight: 400;
    font-style: normal;
}

.author a,
.hs_cos_wrapper_type_rich_text a,
p a {
    font-family: "Roboto", sans-serif !important;
    color: var(--black) !important;
}

/* HAMBURGER MENU */
/* Import fonts */
@import url("https://use.typekit.net/zdv0evm.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Roboto:wght@300&display=swap');

/* Menu button styles */
#showMenu:hover {
    cursor: pointer;
}

/* Modal container styles */
.modal-container {
    display: none;
    flex-direction: column;
    background-color: var(--black);
    width: 85%;
    height: fit-content;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 999;
}

.modal-container.active {
    display: flex;
}

/* Modal content styles */
.modal-container .modal-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px;
    position: relative;
}

/* Logo styles */
.modal-container .modal-content .logo {
    width: 200px;
    height: auto;
    margin-bottom: 40px;
}

/* Navigation item styles */
body .modal-container .modal-content .nav-item {
    color: white !important;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Termina', sans-serif !important;
    font-size: 16px;
    transition: 0.5s;
}

.modal-container .modal-content .nav-item:hover {
    transition: 0.5s;
    opacity: 0.8;
}

/* Small navigation item styles */
body .modal-container .modal-content .nav-item.small-nav-item {
    opacity: 0.8;
    text-transform: none;
    font-family: 'Roboto', sans-serif !important;
    font-size: 12px;
}

.modal-container .modal-content .nav-item.small-nav-item:hover {
    transition: 0.5s;
    opacity: 1;
}

/* Close icon styles */
.modal-container .close-icon {
    color: var(--white);
    font-size: 24px;
    position: absolute;
    top: 15px;
    right: 30px;
}

.modal-container .close-icon:hover {
    cursor: pointer;
}

/* Hamburger icon styles */
.hamburger-icon {
    font-family: 'FontAwesome' !important;
    font-size: 20px;
}

.hamburger-icon:hover {
    cursor: pointer;
}

/* Additional styles */
.about-sub {
    width: 80%;
    margin: 40px auto 0;
}

.subheadline {
    color: var(--black);
    font-weight: 400;
    font-size: var(--subheadline-size) !important;
    text-transform: uppercase;
    margin: 20px 0;
    width: 60%;
}

.header .widget-span>.dnd-section>.row-fluid>[class*=span] {
    padding: 0 !important;
}

/* ROBOTO */
/* Apply Roboto font to specific elements */
p,
.copyright-section .hs-menu-wrapper ul li a,
.header .hs-menu-wrapper ul li a,
.hs-button.primary.large {
    font-family: "Roboto", sans-serif !important;
}

.copyright-section .hs-menu-wrapper ul li a {
    color: var(--black) !important;
}

/* TERMINA */
/* Apply Termina font to specific elements */
h1,
h2,
h3,
.subheadline {
    font-family: "termina", sans-serif !important;
}

.header .hs-menu-wrapper ul li a {
    color: var(--black) !important;
}

.header .hs-menu-wrapper ul li.hs-menu-item.active-branch > a {
    font-weight: 400 !important;
}

/* Header styles */
.span12.columns.d-flex.flex-flow-column.flex-flow-md-row-wrap.align-items-md-center.fh {
    justify-content: flex-end !important;
}

.header,
.footer-section,
.copyright-section {
    background-color: #EAEAEA !important;
    border: none !important;
}

/* Button styles */
.hs-button,
.hs-button.primary.large,
.hs-button.primary {
    font-family: "Termina", sans-serif !important;
    font-size: 14px !important;
    text-transform: uppercase !important;
    background-color: transparent !important;
    border-radius: 0 !important;
    padding: 5px !important;
    width: fit-content !important;
    color: var(--black) !important;
    border: 1px solid var(--black) !important;
    transition: var(--transition);
}

/* Button wrapper styles */
.button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button-wrapper .hs-button.btn {
    color: var(--black) !important;
    font-size: var(--subheadline-size) !important;
    width: fit-content !important;
    font-family: "termina", sans-serif !important;
    text-decoration: none;
}

.hs-button.btn:hover {
    cursor: pointer !important;
    transition: var(--transition);
    color: var(--white) !important;
    background-color: var(--black) !important;
}

.hs-button:hover {
    transition: var(--transition);
    color: var(--white) !important;
    background-color: var(--black) !important;
}

/* Ghost button styles */
.btn.ghost-btn {
    color: var(--black);
    background-color: transparent;
    border: 1px solid var(--black);
    transition: var(--transition);
}

.btn.ghost-btn:hover {
    color: var(--white);
    background-color: var(--black);
    transition: var(--transition);
}

/* Wrapper styles */
.wrapper {
    display: flex;
    gap: 20px;
    align-content: flex-start;
    justify-content: center;
    width: 100%;
}

/* Card styles */
.card {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Header menu item styles */
.header .hs-menu-wrapper ul li a {
    font-size: var(--header-a-size) !important;
}

/* Header menu branch styles */
.header .hs-menu-wrapper ul li.hs-menu-item-branch > a {
    color: #959595;
}

.header .hs-menu-wrapper ul li.hs-menu-item.active-branch > a::after {
    display: none !important;
}

.header img {
    width: 200px;
}

/* Additional styles */
.dnd-section .dnd-column > .dnd-row:not(:first-child) {
    margin-top: 0 !important;
}

/* Form field and error message styles */
form .hs-error-msg,
form label {
    font-size: 12px !important;
    font-family: Roboto, sans-serif !important;
}

.hs_cos_wrapper_type_rich_text > :last-child {
    margin-bottom: 20px !important;
}

/* Form styles */
form {
    display: flex !important;
    flex-direction: column !important;
    width: 70% !important;
}

form legend {
    font-family: "roboto", sans-serif !important;
    color: var(--black) !important;
    font-size: var(--p-size) !important;
}

/* Placeholder text color */
#main-content .row-fluid-wrapper .row-fluid form input::placeholder, 
#main-content .row-fluid-wrapper .row-fluid form textarea::placeholder {   
    color: var(--black) !important;
}

/* Responsive styles for smaller screens */
@media (max-width: 560px) {
    .header .widget-span>.dnd-section>.row-fluid {
        padding: 0 30px;
    }

    .modal-container .modal-content {
        gap: 20px;
    }

    .modal-container .modal-content .logo {
        height: auto;
        margin-bottom: 0px;
        width: 150px;
    }

    body .modal-container .modal-content .nav-item {
        font-size: 14px;
    }
}


/* Dark mode */
@media (prefers-color-scheme: dark) {
    /* Body styles */
    body {
        background-color: #EAEAEA !important;
    }

    /* Global font styles */
    * {
        font-family: "termina", sans-serif;
        font-weight: 400;
        font-style: normal;
        line-height: 2 !important;
    }

    /* Heading styles */
    h1,
    h2,
    h3 {
        color: var(--black) !important;
        font-weight: 500 !important;
        text-transform: uppercase !important;
        line-height: var(--line-height) !important;
        margin: 20px 0 0 0 !important;
    }

    /* Individual heading styles */
    h1 {
        font-size: var(--h1-size) !important;
    }

    h2 {
        font-size: var(--h2-size) !important;
    }

    h3 {
        font-size: var(--h3-size) !important;
        text-transform: none !important;
    }

    /* Additional styles */
    .row-fluid .hs_cos_wrapper_type_rich_text>:last-child {
        margin-bottom: 40px !important;
    }

    /* Paragraph styles */
    p {
        font-family: 'Roboto', sans-serif !important;
        font-size: var(--p-size) !important;
        font-weight: 400;
        font-style: normal;
    }

    .author a,
    .hs_cos_wrapper_type_rich_text a,
    p a {
        font-family: "Roboto", sans-serif !important;
        color: var(--black) !important;
    }

    /* HAMBURGER MENU */
    /* Import fonts */
    @import url("https://use.typekit.net/zdv0evm.css");
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Roboto:wght@300&display=swap');

    /* Menu button styles */
    #showMenu:hover {
        cursor: pointer;
    }

    /* Modal container styles */
    .modal-container {
        display: none;
        flex-direction: column;
        background-color: var(--black);
        width: 85%;
        height: fit-content;
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -60%);
        z-index: 999;
    }

    .modal-container.active {
        display: flex;
    }

    /* Modal content styles */
    .modal-container .modal-content {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 30px;
        position: relative;
    }

    /* Logo styles */
    .modal-container .modal-content .logo {
        width: 200px;
        height: auto;
        margin-bottom: 40px;
    }

    /* Navigation item styles */
    body .modal-container .modal-content .nav-item {
        color: white !important;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Termina', sans-serif !important;
        font-size: 16px;
        transition: 0.5s;
    }

    .modal-container .modal-content .nav-item:hover {
        transition: 0.5s;
        opacity: 0.8;
    }

    /* Small navigation item styles */
    body .modal-container .modal-content .nav-item.small-nav-item {
        opacity: 0.8;
        text-transform: none;
        font-family: 'Roboto', sans-serif !important;
        font-size: 12px;
    }

    .modal-container .modal-content .nav-item.small-nav-item:hover {
        transition: 0.5s;
        opacity: 1;
    }

    /* Close icon styles */
    .modal-container .close-icon {
        color: var(--white);
        font-size: 24px;
        position: absolute;
        top: 15px;
        right: 30px;
    }

    .modal-container .close-icon:hover {
        cursor: pointer;
    }

    /* Hamburger icon styles */
    .hamburger-icon {
        font-family: 'FontAwesome' !important;
        font-size: 20px;
    }

    .hamburger-icon:hover {
        cursor: pointer;
    }

    /* Additional styles */
    .about-sub {
        width: 80%;
        margin: 40px auto 0;
    }

    .subheadline {
        color: var(--black);
        font-weight: 400;
        font-size: var(--subheadline-size) !important;
        text-transform: uppercase;
        margin: 20px 0;
        width: 60%;
    }

    .header .widget-span>.dnd-section>.row-fluid>[class*=span] {
        padding: 0 !important;
    }

    /* ROBOTO */
    /* Apply Roboto font to specific elements */
    p,
    .copyright-section .hs-menu-wrapper ul li a,
    .header .hs-menu-wrapper ul li a,
    .hs-button.primary.large {
        font-family: "Roboto", sans-serif !important;
    }

    .copyright-section .hs-menu-wrapper ul li a {
        color: var(--black) !important;
    }

    /* TERMINA */
    /* Apply Termina font to specific elements */
    h1,
    h2,
    h3,
    .subheadline {
        font-family: "termina", sans-serif !important;
    }

    .header .hs-menu-wrapper ul li a {
        color: var(--black) !important;
    }

    .header .hs-menu-wrapper ul li.hs-menu-item.active-branch > a {
        font-weight: 400 !important;
    }

    /* Header styles */
    .span12.columns.d-flex.flex-flow-column.flex-flow-md-row-wrap.align-items-md-center.fh {
        justify-content: flex-end !important;
    }

    .header,
    .footer-section,
    .copyright-section {
        background-color: #EAEAEA !important;
        border: none !important;
    }

    /* Button styles */
    .hs-button,
    .hs-button.primary.large,
    .hs-button.primary {
        font-family: "Termina", sans-serif !important;
        font-size: 14px !important;
        text-transform: uppercase !important;
        background-color: transparent !important;
        border-radius: 0 !important;
        padding: 5px !important;
        width: fit-content !important;
        color: var(--black) !important;
        border: 1px solid var(--black) !important;
        transition: var(--transition);
    }

    /* Button wrapper styles */
    .button-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .button-wrapper .hs-button.btn {
        color: var(--black) !important;
        font-size: var(--subheadline-size) !important;
        width: fit-content !important;
        font-family: "termina", sans-serif !important;
        text-decoration: none;
    }

    .hs-button.btn:hover {
        cursor: pointer !important;
        transition: var(--transition);
        color: var(--white) !important;
        background-color: var(--black) !important;
    }

    .hs-button:hover {
        transition: var(--transition);
        color: var(--white) !important;
        background-color: var(--black) !important;
    }

    /* Ghost button styles */
    .btn.ghost-btn {
        color: var(--black);
        background-color: transparent;
        border: 1px solid var(--black);
        transition: var(--transition);
    }

    .btn.ghost-btn:hover {
        color: var(--white);
        background-color: var(--black);
        transition: var(--transition);
    }

    /* Wrapper styles */
    .wrapper {
        display: flex;
        gap: 20px;
        align-content: flex-start;
        justify-content: center;
        width: 100%;
    }

    /* Card styles */
    .card {
        flex: 1 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    /* Header menu item styles */
    .header .hs-menu-wrapper ul li a {
        font-size: var(--header-a-size) !important;
    }

    /* Header menu branch styles */
    .header .hs-menu-wrapper ul li.hs-menu-item-branch > a {
        color: #959595;
    }

    .header .hs-menu-wrapper ul li.hs-menu-item.active-branch > a::after {
        display: none !important;
    }

    /* Additional styles */
    .dnd-section .dnd-column > .dnd-row:not(:first-child) {
        margin-top: 0 !important;
    }

    /* Form field and error message styles */
    form .hs-error-msg,
    form label {
        font-size: 12px !important;
        font-family: Roboto, sans-serif !important;
    }

    .hs_cos_wrapper_type_rich_text > :last-child {
        margin-bottom: 20px !important;
    }

    /* Form styles */
    form {
        display: flex !important;
        flex-direction: column !important;
        width: 70% !important;
    }

    form legend {
        font-family: "roboto", sans-serif !important;
        color: var(--black) !important;
        font-size: var(--p-size) !important;
    }

    /* Placeholder text color */
    #main-content .row-fluid-wrapper .row-fluid form input::placeholder, 
    #main-content .row-fluid-wrapper .row-fluid form textarea::placeholder {   
        color: var(--black) !important;
    }

    @media (max-width: 560px) {
        .header .widget-span>.dnd-section>.row-fluid {
            padding: 0 30px;
        }
    
        .modal-container .modal-content {
            gap: 20px;
        }
    
        .modal-container .modal-content .logo {
            height: auto;
            margin-bottom: 0px;
            width: 150px;
        }
    
        body .modal-container .modal-content .nav-item {
            font-size: 14px;
        }
    }
}