.btn {
    font-family: "Termina", sans-serif!important;
    font-size: 12px!important;
    text-transform: uppercase!important;
    text-decoration: none!important;
    padding: 0!important;
    background-color: transparent!important;
    border: none!important;
    border-radius: 0!important;
    width: fit-content!important;
    transition: var(--transition);
}

.btn:hover div {
    width: fit-content!important;
    transition: var(--transition);
    background-color: var(--primary)!important;
}