.wrapper {
    display: flex;
    gap: 40px;
    justify-content: flex-start;
    align-items: center;
}

.wrapper a {
    width: fit-content;
    font-size: 14px;
    font-family: "Termina", sans-serif;
    text-transform: uppercase;
}

.btn {
    color: var(--black);
    background-color: transparent;
    transition: var(--transition);
}

.btn:hover {
    background-color: var(--primary);
    transition: var(--transition);
}