.jobs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.jobs-article {
    flex: 1 0;
    flex-flow: row wrap;

    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.jobs-article:nth-child(even) {
    flex-flow: row-reverse wrap;
}

.jobs-article .item {
    flex: 1 0 350px;
    flex-flow: row wrap;

    display: flex;
    flex-direction: column;
}

.jobs-article img {
    object-fit: cover;
    width: 100%;
    height: 70vh;
}

.jobs-article .icon {
    font-size: 76px;
    color: var(--black);
}

.jobs-article .quote {
    font-family: "termina", sans-serif!important;
    color: var(--black);
    font-size: 24px!important;
    font-weight: 700!important;
    line-height: 1.4!important;
}

.jobs-article .author {
    font-size: 16px!important;
}

.jobs-article .btn {
    font-size: 14px!important;
    color: var(--black);
    text-decoration: none;
    width: fit-content;
}

@media (max-width: 560px) {
    .jobs-article {
        flex-direction: column;
    }

    .jobs-article .icon {
        font-size: 44px;
    }

    .jobs-article .quote {
        font-size: 18px!important;
    }

    .jobs-article .author {
        font-size: 14px!important;
    }

    .jobs-article img {
        height: unset;
    }

    .jobs-article:nth-child(even) {
        flex-flow: row wrap;
    }
}