{% set selectedBlog = blog_by_id(module.blog_field).name %}
{% set rec_posts = blog_recent_posts(selectedBlog, 200) %}

<section class="blog-listing">
  <div class="container">
    <ul class="filter-list">
      <li class="active" data-tag="all"><span>Show All</span></li>
      {% for rec_post in rec_posts %}
        {% for tag in rec_post.tag_list %}
        <li class="" data-tag="{{ tag.name|lower|replace(' ', '-') }}">
          <span>{{ tag.name }}</span>
        </li>
        {% endfor %}
      {% endfor %}
    </ul>
    <div class="grid-wrapper">
      {% for rec_post in rec_posts %}
        <article class="post-article {% for tag in rec_post.tag_list %} {{ tag.name|lower|replace(' ', '-') }}{% endfor %}" data-tag="{% for tag in rec_post.tag_list %} {{ tag.name|lower|replace(' ', '-') }}{% endfor %}">
          <a href="{{ rec_post.absolute_url }}" class="post-article__image">
            <img src="{{ rec_post.featured_image }}" alt="{{ rec_post.featured_image_alt_text }}">
          </a>
          <div class="post-article__content">
            <a href="{{ rec_post.absolute_url }}" class="post-article__title">{{ rec_post.name }}</a>
            <p class="author">
              Ontwerper {{ rec_post.blog_post_author.display_name }}
            </p>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
</section>