<!--
templateType: blog_post
isAvailableForNewContent: true
screenshotPath: ../../assets/images/covers/cover-blog-post.jpg
label: Projects
-->
{% extends "../../assets/layouts/base.html" %}

{% set templateClasses = "blog-post" %}



{% block body %}

{# Blog post wrapper #}

<div class="content-wrapper">
  <div class="blog-post-section">
    <article class="blog-post">
      <div class="blog-post__body">
        <div class="row flex-col center">
            <h1>{{ content.title }}</h1>
            <p class="subheadline">
                {{ content.blog_post_author.display_name }}
            </p>
            {% module "module_16795134877143" path="/Aesthetics copy/modules/Blog Text", label="Blog Text" %}
        </div>
        <div class="row filter">
            <div class="col">
                <span>
                    FILTER KOMT
                </span>
            </div>
            <div class="col">
                {% module "module_16795135568074" path="/Aesthetics copy/modules/Blog Image", label="Blog Image" %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% module "module_167951385449814" path="/Aesthetics copy/modules/Blog Image 2", label="Blog Image 2" %}
            </div>
            <div class="col flex-end">
                {% module "module_167951386395115" path="/Aesthetics copy/modules/Blog Image 3", label="Blog Image 3" %}
            </div>
        </div>

        <div class="row">
            <div class="col flex-start">
                {% module "module_167951418132021" path="/Aesthetics copy/modules/Blog Mid Title", label="Blog Mid Title" %}
            </div>
            <div class="col">
                {% module "module_167951422360125" path="/Aesthetics copy/modules/Blog Mid Body", label="Blog Mid Body" %}
            </div>
        </div>

        <div class="row flex-col center">
            {% module "module_167951426150928" path="/Aesthetics copy/modules/Blog Image 4", label="Blog Image 4" %}
        </div>

        <div class="row quote-module flex-col">
            {% module "module_167951429900031" path="/Aesthetics copy/modules/Blog Quote Module", label="Blog Quote Module" %}
        </div>

        <div class="row">
            <div class="col flex-start">
                {% module "module_167955820951248" path="/Aesthetics copy/modules/Blog Image 5", label="Blog Image 5" %}
                {% module "module_167955814042139" path="/Aesthetics copy/modules/Blog Text 2", label="Blog Text 2" %}
                {% module "module_167955817259642" path="/Aesthetics copy/modules/Blog Text 3", label="Blog Text 3" %}
            </div>
            <div class="col">
                {% module "module_167955819393645" path="/Aesthetics copy/modules/Blog Text 4", label="Blog Text 4" %}
                {% module "module_167955822377051" path="/Aesthetics copy/modules/Blog Image 6", label="Blog Image 6" %}
            </div>
        </div>

        <div class="row">
            <hr class="divider">
        </div>

        <div class="row contact">
            <div class="col">
                {% module "module_167957651914710" path="/Aesthetics copy/modules/Contact Form Image", label="Contact Form Image" %}
            </div>
            <div class="col">
                {% module "module_167957654054313" path="/Aesthetics copy/modules/Contact Form Title", label="Contact Form Title" %}
                {% module "module_167957655770816" path="/Aesthetics copy/modules/Contact Form Text", label="Contact Form Text" %}
                <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
                <script>
                hbspt.forms.create({
                    region: "eu1",
                    portalId: "26913733",
                    formId: "7b9caf71-bc7e-4ace-ba6a-4ec12a356472"
                });
                </script>
            </div>
        </div>



      </div>
      
    </article>
  </div>


</div>
{% endblock body %}