.blog-listing .grid-wrapper {
    column-count: 1;
    column-gap: 1em;
    width: 100%;
}

.blog-listing .grid-wrapper .post-article {
    margin-bottom: 1em;
    height: 100%;
    overflow: hidden;
}

.blog-listing .post-article .post-article__image {
    overflow: hidden;
    border-radius: 16px;
    display: block;
    margin-bottom: 16px;
}

.blog-listing .post-article .post-article__image img {
    transition: transform .5s ease-in-out;
}

.blog-listing .post-article .post-article__image:hover img {
    transform: scale(1.1);
}

.blog-listing .post-article .post-article__title {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 18px;
    display: block;
}

.blog-listing .post-article .post-article__link {
    color: #425b76; 
}

.blog-listing .post-article .post-article__link svg {
    margin-left: 4px;
    max-width: 1.6rem;
    transition: transform .25s ease-in-out;
    width: 100%;
}

.blog-listing .post-article .post-article__link:hover svg {
    transform: translateX(.5rem);
}

.blog-listing .filter-list {
    list-style: none;
    padding: 0;
    margin: 0 -5px 30px;
    display: flex;
    flex-flow: row wrap;
}

.blog-listing .filter-list li {
    padding: 0 5px 10px;
    margin: 0;
}

.blog-listing .filter-list li.active span {
    background-color: #253543;
}

.blog-listing .filter-list span {
    color: #fef3f7;
    cursor: pointer;
    padding: 10px 15px;
    font-weight: 700;
    display: inline-block;
    background-color: #425b76;
    transition: all 0.4s ease-in-out;
    border-radius: 50px;
}

@media (min-width: 480px) {
    .blog-listing .grid-wrapper {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .blog-listing .grid-wrapper {
        column-count: 2;
    }

    .blog-listing .post-article .post-article__title {
        font-size: 32px;
        line-height: 40px;
    }
}

@media (min-width: 1200px) {
    .blog-listing .grid-wrapper {
        column-count: 3;
    }
}