<!--
templateType: blog_post
isAvailableForNewContent: true
screenshotPath: ../../assets/images/covers/cover-blog-post.jpg
label: Job openings
-->
{% extends "../../assets/layouts/base.html" %}

{% set templateClasses = "blog-post" %}



{% block body %}

{# Blog post wrapper #}

<div class="content-wrapper">
  <div class="blog-post-section">
    <article class="blog-post">
      <div class="blog-post__body">

        <div class="row flex-col center">
            <h1>{{ content.title }}</h1>
            {% module "module_16795649171212" path="/Aesthetics copy/modules/Jobs welkom", label="Jobs welkom" %}
            {% module "module_16795134877143" path="/Aesthetics copy/modules/Blog Text", label="Blog Text" %}
            {% module "module_167956275054060" path="/Aesthetics copy/modules/Blog Image 1", label="Blog Image 1" %}
        </div>
        
        <div class="row">
            <div class="col">
                {% module "module_167956282696962" path="/Aesthetics copy/modules/Blog Image 2", label="Blog Image 2" %}
            </div>
            <div class="col">
                {% module "module_167956283614164" path="/Aesthetics copy/modules/Blog Text 2", label="Blog Text 2" %}
            </div>
        </div>

        <div class="row align-center">
            <div class="col">
                {% module "module_167956287214470" path="/Aesthetics copy/modules/Blog Image 3", label="Blog Image 3" %}
            </div>
            <div class="col">
                {% module "module_16795651378535" path="/Aesthetics copy/modules/Jobs Quote Module", label="Jobs Quote Module" %}
            </div>
        </div>

        <div class="row offer">
            <div class="col">
                {% module "module_167956290501973" path="/Aesthetics copy/modules/Blog title requirements", label="Blog title requirements" %}
                {% module "module_167956293003278" path="/Aesthetics copy/modules/Blog Text 3", label="Blog Text 3" %}
            </div>
            <div class="col">
                {% module "module_167956291613076" path="/Aesthetics copy/modules/Blog title offer", label="Blog title offer" %}
                {% module "module_167956293906980" path="/Aesthetics copy/modules/Blog Text 4", label="Blog Text 4" %}
            </div>
        </div>

        <div class="row">
            <hr class="divider">
        </div>

        <div class="row contact">
            <div class="col">
                {% module "module_167957651914710" path="/Aesthetics copy/modules/Contact Form Image", label="Contact Form Image" %}
            </div>
            <div class="col">
                {% module "module_167957654054313" path="/Aesthetics copy/modules/Contact Form Title", label="Contact Form Title" %}
                {% module "module_167957655770816" path="/Aesthetics copy/modules/Contact Form Text", label="Contact Form Text" %}
                <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
                <script>
                hbspt.forms.create({
                    region: "eu1",
                    portalId: "26913733",
                    formId: "a65fb539-c6cc-4ccb-be8b-19e6c8ce3f56"
                });
                </script>
            </div>
        </div>


      </div>
      
    </article>
  </div>


</div>
{% endblock body %}