.podcast-listing .grid-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    padding: 30px;
}

.podcast-listing .grid-wrapper .post-article {
    flex: 1 0 20%;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    max-height: 80vh;
}

.podcast-listing .grid-wrapper .post-article:nth-of-type(1) {
    flex: 1 0 40%;
}

.hs-button.btn {
    color: var(--black);
    font-size: 14px;
    width: fit-content;
    text-decoration: none;
}

.podcast-listing .grid-wrapper .post-article img {
    width: 100%;
}

.podcast-listing .post-article .post-article__image {
    overflow: hidden;
    border-radius: 0;
    display: block;
    margin-bottom: 16px;
}

.podcast-listing .post-article .post-article__image img {
    transition: transform .5s ease-in-out;
}

.podcast-listing .post-article .post-article__image:hover img {
    transform: scale(1.1);
}

.podcast-listing .post-article .post-article__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.podcast-listing .post-article .post-article__title {
    color: var(--black);
    font-size: var(--h3-size);
    font-weight: 700;
    line-height: var(--line-height);
    text-transform: uppercase;
    text-decoration: none;
}

.podcast-listing .post-article .author {
    font-family: "termina", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}

@media (min-width: 768px) {
    .blog-listing .post-article .post-article__title {
        font-size: 18px;
    }
}