@import url("https://use.typekit.net/zdv0evm.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Roboto:wght@300&display=swap');

.modal-container {
    display: none;
    flex-direction: column;
    background-color: var(--black);
    width: 70%;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-container.active {
    display: flex;
}

.modal-container .modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    position: relative;
}

.modal-container .modal-content .logo {
    width: 150px;
    height: auto;
    margin-bottom: 40px;
}

.modal-container .modal-content .nav-item {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-family: Termina;
    font-size: 16px;
}

.modal-container .modal-content .nav-item.small-nav-item {
    opacity: 0.8;
    text-transform: none;
    font-family: Roboto;
    font-size: 12px;
}

.modal-container .close-icon {
    color: var(--white);
    font-size: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.modal-container .close-icon:hover {
    cursor: pointer;
}

.hamburger-icon {
    font-family: 'FontAwesome'!important;
    font-size: 30px;
}

.hamburger-icon:hover {
    cursor: pointer;
}